extends layout
block vars
 - var title = 'Home'

block content
  p 
   |Welcome to Adda home page.
   br
   |Please 
   a(href="/register") register
   |&nbsp;or 
   a(href="/login") login
   |&nbsp;to continue
  #topFiveTopics
    |Top Trending Topics
    ul
    each topic in topics
      li #{topic}