extends layout
block vars
 - var title = 'Home'

block content
  h1 
   |Welcome to Adda home page.
  br
  p
   | This is a discussion forum.
   br
  p
   | You can 
   a(href="/register") register
   |&nbsp;or 
   a(href="/login") login
   |&nbsp;to continue
  #topFiveTopics
    |Top Trending Topics
    ul
    each topic in topics
      li #{topic}