extends layout
block vars
 - var title = 'Home'

block content
  h1 
   |Welcome to Adda home page.
  br
  p
   a(href="/login") Sign in
   |&nbsp;to continue or 
   a(href="/register") register
   |&nbsp;if new user
  #topFiveTopics
    h2 Top Trending Topics
    ul
    each topic in topics
      li #{topic}