block vars
doctype html
html
  head
    title Adda #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    h1 ADDA
    h3 Disscussion Forum
    block links
    hr
    block scripts
  body
    block content