block vars
doctype html
html
  head
    title Adda #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    div(class="topbar")
      h1 ADDA
      h3 Disscussion Forum
      a(href='/dashboard/#{user_id}') Dashboard
      |&nbsp;| 
      a(href='/logout') Logout
   p Hi #{user_name.name} 
      hr
    block scripts
  body
    block content