block vars
doctype html
html
  head
    title Adda #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    div(class="topbar")
      h1 ADDA
      a(href='/dashboard/#{user_id}') Dashboard
      |&nbsp;| 
      a(href='/logout') Logout
      hr
    block scripts
  body
    block content