extends logged_page_layout
block vars
	- var title = "Topics"
block scripts
	script(type="text/javascript" src="../javascripts/jquery-2.1.1.min.js")
	script(type="text/javascript" src="../javascripts/app_main.js")

block content
	h1 Topics
	#addTopic
		form(action="/topics" method="POST")
			b Add topic
			br
			input(type="text" name="topicName" placeholder="topic name" required)
			input(type="hidden" name="user_id" value="#{user_id}" id="user_id")
			br
			br
			textarea(name="topicDesc" placeholder="description" required)
			br
			input(type="submit" value="submit")
	br
	hr
	br
	b Search Topic
	#searchTopic
		input(id="topic" type="text" placeholder="enter topic name")
		input(id="search" type="button" value="search") 
		| &nbsp; 
		| (Press search button to see all Topics)
		#displayResult
